
:root{
    --clr-neon:hsl(317 100% 54%)
}

.ttitle{
    color: var(--clr-neon) ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;}



.boton {
    height: 55px;
    width: 100px;
    border: 2px solid var(--clr-neon);
    background-color: wheat;
    color: black;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 100;
    transition: ease-in 0.5s;
}
.boton:hover {
    cursor: pointer;
    background-color: black;
    border: 2px solid white;
    color: white;
}



.ttitle{
    color: var(--clr-neon) ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;}

.noProduct{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 .925em var(--clr-neon);
}

.name{
        color: antiquewhite;
        font-size: 25px;
}

.quantity{
    color: antiquewhite;
    font-size: 15px;

}








