:root{
    --clr-neon:hsl(317 100% 54%)
}

.ttitle{
    color: var(--clr-neon) ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;}

.noProduct{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 .925em var(--clr-neon);
}

.name{
        color: antiquewhite;
        font-size: 25px;
}

.quantity{
    color: antiquewhite;
    font-size: 15px;

}

.image{
    width: 150px;
    height: 200px;
   border-radius: 20%;
}
.pc{
    color: antiquewhite;
    font-size: 15px;

}

.totalPc{
    color: antiquewhite;
    font-size: 15px;

}

.remove{
    color: black;

}

.create{
    color: black;

}

.carp{
    width: 25%;
    border: 2px  white solid;
    border-radius: 5%;
    height: 400px;
    display: flex;
    
}