
.descripciones{
    background-color: black;
    color: var(--clr-neon);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.1825em var(--clr-neon), 0 0 0.1728em wheat;

}

.card{
	
	margin: 50px;
	border-radius: 6%;
    width: 25%;
	overflow: visible;
	background: rgba(0, 0, 255, 0.411);
	box-shadow: 11px 11px 11px  blue;
	transition: all 400ms ease-out;
	cursor: cell;
text-align: center;
display: block;}

.carsh{
	
	margin: 50px;
	border-radius: 6%;
	overflow: visible;
	background: black;
	box-shadow: 11px 11px 11px rgba(17, 19, 158, 0.797);
	transition: all 400ms ease-out;
	cursor: cell;
    text-align: center;
}


.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card-img-topp{
    position: relative;
	width: 250px;
	height: 400px;
    border-radius: 5%;
}
.cart {
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.leter{
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 5px black solid;
    background-color: aliceblue;
    padding: 15px;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




.counter{
    color: yellow;
    cursor: pointer;
}

:root{
    --clr-neon:hsl(317 100% 54%)
}

.leter:hover{

    color: var(--clr-neon);
    border: var(--clr-neon) 0.125 solid;
    background-color: blue;
    box-shadow: inset 0 0 .8em blue;
}
.leter{
    top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    
    text-decoration: none;
    color: blue;
    border: blue 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em blue, 0 0 0.128em black;
    box-shadow:inset 0 0 .5em 0 rgba(0, 0, 255, 0.411) ,0 0 .5em 0 rgba(68, 0, 255, 0.692) ;
    background-color: black;
 
 }
 


 

 




