.total-item{
   
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 50px;
    left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  }