:root{
    --clr-neon:hsl(317 100% 54%)
}


.image{
    width: 550px;
    height: 200px;
    border-radius: 20%;
}
.precio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}


.carta{
    display: flex;
    flex-direction: column;
}












