:root{
    --clr-neon:hsl(317 100% 54%)
}


.nav-link{
   
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.325em var(--clr-neon);
    background-color: black;
    
  }