.stock{
        border-radius: 30px;
        font-weight: 1000;
}

.stock:hover{
    
        box-shadow: 5px 5px 20px white;
        transform: translateY(-3%);
        background: black;
        border: 1px white solid;
        color: white;
        width: 30px;
}
